## Analysis of Goodreads Data up to 2025

In [8]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
my_cols = ['review_id',	'user_id',	'work_id',	'started_at',	'read_at',	'date_added',	'rating',	'n_votes',	'n_comments']

In [9]:
reviews = pd.read_csv(r'C:\Users\conif\Documents\Projects\Maven\Goodreads-Project\Goodreads+Book+Reviews\Goodreads_Reviews.csv',
                 usecols=my_cols, parse_dates=['started_at', 'read_at',	'date_added'], low_memory=False)

In [10]:
reviews.head()

,review_id,user_id,work_id,started_at,read_at,date_added,rating,n_votes,n_comments
0,fa7a00c01296e3b2b2e857d79c51ea77,3693bb4f1062b659a354848cf11ca313,6128277,NaN,NaN,2013-12-21,5.0,0,0
1,de0f7c8d15e247443e51969becf2878e,3693bb4f1062b659a354848cf11ca313,3270810,NaN,NaN,2013-12-21,5.0,0,0
2,e79b49504ef58b2defcdc8b79e2ec3fb,3693bb4f1062b659a354848cf11ca313,4768235,NaN,NaN,2013-12-19,5.0,0,0
3,495c1210a9dbd819cbf7717dfb8b217f,3693bb4f1062b659a354848cf11ca313,6264661,NaN,NaN,2013-12-16,5.0,0,0
4,54fcd8963c9dd56485d2a4ad152699c2,3693bb4f1062b659a354848cf11ca313,3429537,NaN,NaN,2013-12-16,5.0,0,0

In [11]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143887 entries, 0 to 1143886
Data columns (total 9 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   review_id   1143887 non-null  object
 1   user_id     1143887 non-null  object
 2   work_id     1143887 non-null  int64
 3   started_at  796392 non-null   object
 4   read_at     1031765 non-null  object
 5   date_added  1143887 non-null  datetime64[ns]
 6   rating      1106569 non-null  float64
 7   n_votes     1143887 non-null  int64
 8   n_comments  1143887 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 78.5+ MB

In [ ]:
reviews