## Analysis of Goodreads Data up to 2025

In [1]:
import pandas as pd

In [2]:
my_cols = ['review_id',	'user_id',	'work_id',	'started_at',	'read_at',	'date_added',	'rating',	'n_votes',	'n_comments']

In [3]:
df = pd.read_csv(r'C:\Users\conif\Documents\Projects\Maven\Goodreads-Project\Goodreads+Book+Reviews\Goodreads_Reviews.csv',
                 usecols=my_cols,low_memory=False)

In [4]:
df.head()

,review_id,user_id,work_id,started_at,read_at,date_added,rating,n_votes,n_comments
0,fa7a00c01296e3b2b2e857d79c51ea77,3693bb4f1062b659a354848cf11ca313,6128277,NaN,NaN,2013-12-21 00:00:00.000,5.0,0,0
1,de0f7c8d15e247443e51969becf2878e,3693bb4f1062b659a354848cf11ca313,3270810,NaN,NaN,2013-12-21 00:00:00.000,5.0,0,0
2,e79b49504ef58b2defcdc8b79e2ec3fb,3693bb4f1062b659a354848cf11ca313,4768235,NaN,NaN,2013-12-19 00:00:00.000,5.0,0,0
3,495c1210a9dbd819cbf7717dfb8b217f,3693bb4f1062b659a354848cf11ca313,6264661,NaN,NaN,2013-12-16 00:00:00.000,5.0,0,0
4,54fcd8963c9dd56485d2a4ad152699c2,3693bb4f1062b659a354848cf11ca313,3429537,NaN,NaN,2013-12-16 00:00:00.000,5.0,0,0